
.resume-wrapper{
	position: relative;
	padding-top:3.5em;
	width:100%;
	text-align: center;
	z-index: 999;
}

.header-content {
  display: inline-block;
	width: 100%;
}

.header-nav {
	width: 100%;
}

.header-nav li {
	display: inline-block;
}

.header-nav .nav-home {
	float: left;
	width: 40px;
	margin: 20px;
}

.header-nav .nav-download {
	float: right;
	width: 40px;
	margin: 20px;
}

.navigation__item-resume a {
	padding: 10px;
	background: #4a4b5c;
	border-radius: 50%;
	font-size: .8em;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
	-webkit-font-smoothing: antialiased; }

.pic {
  margin: 0 auto;
  border-radius:10em;
	margin-top:-3em;
  height:5em;
  width:5em;
  background-image: url(https://s3.eu-west-2.amazonaws.com/afshin-bucket/avatar/XyZRJq2g_400x400+copy.jpg);
  background-size: 100% auto;
  border: 2px solid #e0e0e0;
}

.header-text p {
  text-align:center;
  margin:0;
  color: #212121;
}

.first-name {
   font-size: 1.05em;
}

.subtitle {
  padding-top:.3em;
  font-size:0.55em;
  font-weight:500;
  color: #424242;
}

/* Information */

.paper {
  margin: 0 auto;
  margin-bottom:1em;
  background-color:#fff;
  width:60%;
  padding:0.5em 0;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 3px solid #e0e0e0;
  border-radius:3px;
}

/* Content Part */

.resume-wrapper-inner {
  padding-right:7.25%;
	text-align: left;
}

.content {
  display:table;
  width:100%;
  padding-top:1.5em;
}

.content:last-child {
  padding-bottom:1.5em;
}

.row {
    display:table-row;
}
.row div {
    display:table-cell;
}

.content-cat {
  font-variant:small-caps;
  font-weight:300;
  letter-spacing: 1px;
  color: #212121;
  font-size:0.975em;
  text-align:center;
  vertical-align:middle;
  padding-left:6.66%;
  width:36.66%;
}

.education-listing .date {
  font-variant:small-caps;
  font-weight:300;
  letter-spacing: 1px;
  color: #212121;
  font-size:0.975em;
  vertical-align:middle;
}

.content-cat p,
.education-listing .date{
  font-size:0.55em;
  font-weight:600;

  margin-bottom:0;
}

.content-text {
  border-left:1px solid #e0e0e0;
  transition: border 0.66s ease-in;
}

.content-text:hover {
  border-left:1px solid #bdbdbd;
}

.big-text {
  vertical-align:top;

  padding-top:1.25em;
}

.content-text ul {
  padding:0;
  margin:0;
  margin-top:0.15em;

  width:85%;
  margin-left:1.5em;
}

.content-text ul:last-child {
  margin-bottom:0.5em;
}

.content-text ul li {
  font-size:0.7em;
  display:inline-block;
}

.content-text ul li:first-child {
  width:35%;

  color: #424242;

  font-weight:600;
  font-size:0.75;
}

.content-text ul li a {
  text-decoration: none;
  color: #0277bd;
}

.content-text ul li a:hover {
  color:#4fc3f7;
}

.work-listing p {
  font-size:0.7em;
  font-weight:400;

  line-height:1.5;

  color: #424242;

  margin-left:2em;
  margin-top:0.25em;
  margin-bottom:0.75em;
}

.work-listing .highlight, .content-text.skills-listing > ul > li > .highlight {
  font-size:0.7em;
  font-weight:400;

  color: #424242;

  margin-left:3.25em;
  padding-left:0.5em;

  border-left:1px solid #e0e0e0;
}

.education-listing .date,
.education-listing p.highlight {
	display: inline-block;
}

.education-listing > .heading {
  font-weight:600;

  margin-top:0.75em;
  margin-left:2em;
}

.education-listing > .highlight {
  margin-left:1.25em !important;
}

.education-listing > .date {
  margin-left:3.25em;
}

.content-text.skills-listing > ul {
  display:table-row;
}

.content-text.skills-listing > ul:last-child {
  margin-bottom:0;
}

.content-text.skills-listing > ul > li {
  display:table-cell;
  vertical-align:top;

  padding-left:2em;

  width:50%;
  font-weight:600;
}

.content-text.skills-listing > ul > li span {
  font-weight:400;
  color: #616161;
}

.content-text.skills-listing > ul > li > .highlight {
  font-size:1em;
  font-weight:400;
	display: inline-block;
	margin: 1em 0;
  margin-left:1.25em;
}

.highlight {
  transition: border .33s ease-in;
}

.highlight:hover, .content-text.skills-listing > ul > li > .highlight:hover {
  border-left:1px solid #9e9e9e;
}
